#school{
    width: 100%; 
    height: 500px;    
}
body {
    background-color: azure; 
}
#list{
    text-align: right; 
   color: aliceblue; 
}
#info{
    background-color: deepskyblue; 
    font-family:cursive; 
    font-size: 15px; 
    height: 25px; 
}
#map{
    margin-top: 20px; 
}